body {
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}

header {
    background-color: bisque;
    width: 50%;
}

#rules {
    background-color: hsl(46, 81%, 42%);
    width: 50%;
    border-style: double
}

#winsLosses {

        background-color: rgb(8, 252, 28);
        width: 20%;
        text-align: center;
        border-style: double
    
}

#randomNum {
    background-color: rgb(252, 8, 101);
    width: 20%;
    text-align: center;
    border-style: double
}

#userNumber,
#words {
    background-color: rgb(252, 8, 101);
    width: 20%;
    text-align: center;
    border-style: double;
    padding: 40p;
    height: 100 px;
    width: 24%;
}